<div class="search">
    <span class="title">Film veya Dizi Bul</span>
    <input type="text">
    <div class="list-box">
    <div class="history" data-title="Geçmiş Aramalar">
        <div class="item">
            The Mandalorian
            <span>Kaldır</span>
        </div>
    </div>
    <div class="results" data-title="Sonuçlar">
        <div class="item" (click)="openDialog()">
            <img src="https://m.media-amazon.com/images/M/MV5BZDhlMzY0ZGItZTcyNS00ZTAxLWIyMmYtZGQ2ODg5OWZiYmJkXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_SX500.jpg">
            <div class="text">
            <span class="title">The Mandalorian</span>
            <span class="info">Emilia Clarke, Peter Dinklage, Kit Harington</span>
        </div>
        </div>
    </div>
    </div>
</div>
