.search {
  margin: 50px auto;
  max-width: 750px;
  position: relative;
  z-index: 100;

  &>.title {
    display: block;
    font-size: 28px;
    line-height: 42px;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  input {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    outline: none;
    padding: 5px 15px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
  }

  .list-box {
    position: relative;
    top: 10px;
    background: #fff;
    border-radius: 10px;
    transition: .2s;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 10%);


    .results {
      position: relative;
      padding: 35px 10px 10px 10px;
      max-height: 500px;
      overflow: scroll;

      &::before {
        content: attr(data-title);
        position: absolute;
        top: 10px;
        left: 20px;
        color: #4c4c4c;
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
      }

      .item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 7px;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
          background: rgba($color: #000000, $alpha: .1);
        }

        img {
          margin-right: 10px;
          border-radius: 10px;
          height: 75px;
          width: 50px;
          object-fit: cover;
          border: 1px solid rgb(197, 197, 197);
        }

        .text {
          display: flex;
          flex-direction: column;

          span {
            display: block;
            color: #000;

            &.title {
              font-size: 16px;
              font-weight: 500;
            }

            &.info {
              font-size: 11px;
              font-style: italic;
              opacity: .7;
            }
          }
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba($color: #000000, $alpha: 0.5);
}
