<div mat-dialog-title>Ekle
  <button s-button class="icon-button" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="form-content">
    <img class="poster"
      src="https://m.media-amazon.com/images/M/MV5BZDhlMzY0ZGItZTcyNS00ZTAxLWIyMmYtZGQ2ODg5OWZiYmJkXkEyXkFqcGdeQXVyODkzNTgxMDg@._V1_SX500.jpg">
    <form class="form">
      <div class="item">
        <input type="text">
      </div>
      <div class="item">
        <input type="text">
      </div>
      <div class="item">
        <input type="text">
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button s-button  mat-dialog-close>Vazgeç</button>
  <div class="flex-spacer"></div>
  <button s-button class="primary" cdkFocusInitial>Kaydet</button>
</div>
